/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
 #container {
  width: 850px;
  margin: 0 auto;
  border: 1px solid #000000;
  text-align: left;
    background-color: #FBFBFB;
}

#background_container{
    width: 850px;
    /*background: green;*/
    margin: 0;
    background-image: url("background2.png");
    background-repeat: repeat-y;
}

.rounded {
	padding: 10px 10px 10px 10px;
	border-radius: 10px;

}
