.list_posts_style {
	background-color: #fafad2;

}


.list_posts_style ul {
    list-style: none;
    background-color: #fafad2;
    max-width: 440px;
    padding: 10px;
}

.list_posts_style ul li{
	display: block;
	position: relative;
	margin: 0;
	width: 300px;
}

.list_posts_style ul span{
    font-size: 12px;
    color: graytext;
    font-style: italic;

}


.list_posts_style img{
	float: right;
	margin-right: 10px;
	max-width: 200px;
}