<div id="col3">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fkellsprc%3Ffref%3Dts&amp;width=150&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:150px; height:590px;" allowTransparency="true"></iframe>

</div>
<div style="clear:both"></div>
